/* ----- Font ----- */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans+Condensed:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.font-reg {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}

.fira-sans {
    font-family: 'Fira Sans Condensed', sans-serif;
}

.bebas-neue {
    font-family: 'Bebas Neue', cursive;
}

/* ----- Display ----- */
.hidden {
    position:absolute !important;
    width:1px;
    height:1px;
    overflow:hidden;
    clip:rect(1px 1px 1px 1px);
    clip:rect(1px, 1px, 1px, 1px);
}

/* ----- Box model ----- */
.no-pad {
    padding: 0px;
}

.no-mag {
    margin: 0px;
}

/* ----- Tag ----- */
pre {
    white-space: pre-wrap;
}
